.footer
    display: flex
    align-items: center
    height: 450px
    border-radius: 40px
    background: #665F55
    padding: 100px
    &-left
        width: 530px
        &__title
            color: #E1D4C9
            font-family: Inter
            font-size: 60px
            font-style: normal
            font-weight: 600
            line-height: 125%
            margin-bottom: 40px
        &__its
            font-style: italic
            color: #B0907A
    &-social
        display: flex
        &__link
            margin-left: 0
            margin-right: 12px
            &:hover button
                background-color: #E1D4C9
            &:hover path
                stroke: #403F3D
        &__button
            display: flex
            width: 60px
            height: 60px
            justify-content: center
            align-items: center
            border-radius: 100px
            border: 1px solid #C1B6AD
            background-color: transparent
