@media (max-width: 1439px)
    body
        max-width: 768px
    .navbar
        display: none
    .welcome
        max-width: 688px
        padding: 100px 60px
        &-button
            &__text
                transform: translateX(-30%)
            &__icon
                opacity: 1
                transform: translateX(-65%)
    .about-title
        width: 688px
    .about-box
        flex-wrap: nowrap
        width: 688px
        height: auto
        &__wrapper
            margin: 0
            width: 688px
            height: 590px
        &__wrapper1
            margin-bottom: 40px
        &__wrapper2
            display: none
        &__wrapper3
            display: none
        &__img
            transform: scale(1.06)
            margin-top: -49px
            &:hover
                transform: scale(1)
    .download
        flex-direction: column
        &-left
            width: 688px
            height: auto
            margin-bottom: 100px
        &-right
            width: 688px
            height: auto
        &-image
            width: 630px
            height: 630px
    .footer
        flex-direction: column
        padding: 100px 60px
        height: 736px
        width: 688px
        &-left
            width: 568px
            height: auto
            margin-bottom: 100px
        &-right
            margin-right: auto
            margin-top: 0
            margin-left: 0
    .menu-title
        width: 688px
