.menu
    display: flex
    flex-direction: column
    align-items: center
    &-title
        width: 800px
        color: #403F3D
        text-align: center
        font-family: Inter
        font-size: 60px
        font-style: normal
        font-weight: 600
        line-height: 125%
        margin-bottom: 40px
        margin-top: -5px
    &-amazing
        font-style: italic
        color: #B0907A
    &-buttons
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 40px
        gap: 16px
    &-button
        display: flex
        padding: 8px 16px 8px 8px
        justify-content: center
        align-items: center
        border-radius: 100px
        border: 1px solid #C1B6AD
        background-color: #E1D4C9
        cursor: pointer
        &.active
            border: 1px solid #665F55
            background-color: #665F55
            cursor: default
        &.active .menu-button__circle
            background-color: #E1D4C9
        &.active span
            color: #E1D4C9
        &__text
            color: #403F3D
            font-family: Inter
            font-size: 16px
            font-style: normal
            font-weight: 600
            line-height: 150%
        &__circle
            width: 30px
            height: 30px
            display: flex
            padding: 3px 7px
            justify-content: center
            align-items: center
            border-radius: 100px
            background: #C1B6AD
            margin-right: 8px
    &-refresh
        display: none
        width: 60px
        height: 60px
        justify-content: center
        align-items: center
        border-radius: 100px
        border: 1px solid #665F55
        background-color: #E1D4C9
        &:hover
            background-color: #665F55
        &:hover path
            stroke: #E1D4C9
