* {
  box-sizing: border-box;
}

* {
  margin: 0 auto;
  padding: 0;
}

body {
  max-width: 1440px;
  background-color: #E1D4C9;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.header-icon {
  margin-left: 0;
  margin-right: 366px;
}
.header-icon__logo {
  width: 100px;
  height: 60px;
}
.header-menu {
  margin-right: 0;
}
.header-button {
  border: none;
  background-color: #E1D4C9;
  margin-right: 0;
  cursor: pointer;
}
.header-button::after {
  display: block;
  content: "";
  width: 95%;
  margin-left: 2.5%;
  height: 2px;
  background-color: #403F3D;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.4s ease-in-out;
}
.header-button:hover::after {
  transform: scaleX(1);
  width: 95%;
  margin-left: 2.5%;
  transition: 0.4s ease-in-out;
}
.header-button__text {
  color: #403F3D;
  vertical-align: top;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.header-button__icon {
  margin-left: 8px;
}

.navbar {
  margin-left: 0;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}
.navbar-menu__link {
  color: #403F3D;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.navbar-menu__link::after {
  display: block;
  content: "";
  width: 95%;
  margin-left: 3%;
  height: 2px;
  background-color: rgba(64, 63, 61, 0.8);
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
}
.navbar-menu__link:hover::after {
  width: 95%;
  margin-left: 3%;
  transform: scaleX(1);
  transition: 0.4s ease-in-out;
}
.navbar-menu__item {
  margin-right: 40px;
}

.welcome {
  width: 1360px;
  height: 644px;
  background-image: url(../image/welcome.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  display: block;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}
.welcome-title {
  width: 530px;
  color: #E1D4C9;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-left: 0;
  margin-bottom: 40px;
}
.welcome-title__enjoy {
  color: #B0907A;
  font-style: italic;
}
.welcome-text {
  display: inline-block;
  width: 530px;
  color: #E1D4C9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.welcome-button {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  align-items: center;
  border-radius: 100px;
  border: none;
  background: #E1D4C9;
  margin-left: 0;
  margin-top: 40px;
  cursor: pointer;
}
.welcome-button__text {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-right: 8px;
  transition: 0.3s ease-in-out;
}
.welcome-button__icon {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.welcome-button:hover .welcome-button__icon {
  opacity: 1;
  transform: translateX(-70%);
}
.welcome-button:hover .welcome-button__text {
  transform: translateX(-30%);
}