* {
  box-sizing: border-box;
}

* {
  margin: 0 auto;
  padding: 0;
}

body {
  max-width: 1440px;
  background-color: #E1D4C9;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}
.header-icon {
  margin-left: 0;
  margin-right: 366px;
}
.header-icon__logo {
  width: 100px;
  height: 60px;
}
.header-menu {
  margin-right: 0;
}
.header-button {
  border: none;
  background-color: #E1D4C9;
  margin-right: 0;
  cursor: pointer;
}
.header-button::after {
  display: block;
  content: "";
  width: 95%;
  margin-left: 2.5%;
  height: 2px;
  background-color: #403F3D;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.4s ease-in-out;
}
.header-button:hover::after {
  transform: scaleX(1);
  width: 95%;
  margin-left: 2.5%;
  transition: 0.4s ease-in-out;
}
.header-button__text {
  color: #403F3D;
  vertical-align: top;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.header-button__icon {
  margin-left: 8px;
}

.navbar {
  margin-left: 0;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}
.navbar-menu__link {
  color: #403F3D;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.navbar-menu__link::after {
  display: block;
  content: "";
  width: 95%;
  margin-left: 3%;
  height: 2px;
  background-color: rgba(64, 63, 61, 0.8);
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
}
.navbar-menu__link:hover::after {
  width: 95%;
  margin-left: 3%;
  transform: scaleX(1);
  transition: 0.4s ease-in-out;
}
.navbar-menu__item {
  margin-right: 40px;
}

.welcome {
  width: 1360px;
  height: 644px;
  background-image: url(../image/welcome.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  display: block;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  margin-bottom: 100px;
}
.welcome-title {
  width: 530px;
  color: #E1D4C9;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-left: 0;
  margin-bottom: 40px;
}
.welcome-title__enjoy {
  color: #B0907A;
  font-style: italic;
}
.welcome-text {
  display: inline-block;
  width: 530px;
  color: #E1D4C9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.welcome-button {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  align-items: center;
  border-radius: 100px;
  border: none;
  background: #E1D4C9;
  margin-left: 0;
  margin-top: 40px;
  cursor: pointer;
}
.welcome-button__text {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-right: 8px;
  transition: 0.3s ease-in-out;
}
.welcome-button__icon {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.welcome-button:hover .welcome-button__icon {
  opacity: 1;
  transform: translateX(-65%);
}
.welcome-button:hover .welcome-button__text {
  transform: translateX(-30%);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.slider-title {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.slider-title__favorite {
  font-style: italic;
  color: #B0907A;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.slider-button {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
}
.slider-button:hover {
  background-color: #665F55;
}
.slider-button__prev {
  margin-left: 0;
}
.slider-button__next {
  margin-right: 0;
}
.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-content__img {
  width: 480px;
  height: 480px;
  margin-bottom: 20px;
}
.slider-content__title {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}
.slider-content__info {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 480px;
  margin-bottom: 16px;
}
.slider-content__price {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.slider-pagination__button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 4px;
}
.slider-pagination__button.active span {
  background: #665F55;
}
.slider-pagination__item {
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
  border-color: #C1B6AD;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-title {
  color: #403F3D;
  font-family: Inter;
  font-size: 59.5px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.about-title__perfect {
  color: #B0907A;
  font-style: italic;
}
.about-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1060px;
  width: 1360px;
  margin-left: 0;
}
.about-box__wrapper {
  overflow: hidden;
}
.about-box__wrapper1 {
  width: 660px;
  height: 590px;
}
.about-box__wrapper2 {
  width: 660px;
  height: 430px;
}
.about-box__wrapper3 {
  width: 660px;
  height: 430px;
}
.about-box__wrapper4 {
  width: 660px;
  height: 590px;
}
.about-box__img {
  object-fit: cover;
  transform: translate(-10px, -30px);
}